nexus_version: "3.82.0"

nexus_data_path: "/srv/nexus-data"
nexus_install_path: "/opt/nexus"


nexus_api_scheme: "http"
nexus_api_hostname: "localhost"
nexus_api_port: "{{ nexus_http_port }}"
nexus_admin_username: "admin"


nexus_blobstores:
    - name: docker-hosted
      type: File
      path: "/nexus-data/blobs/docker-hosted"
      softQuota:
        type: spaceRemainingQuota
        limit: "{{ blob_limit_docker_hosted }}"
    - name: docker-proxy
      type: File
      path: "/nexus-data/blobs/docker-proxy"
      softQuota:
        type: spaceRemainingQuota
        limit: "{{ blob_limit_docker_proxy }}"
    - name: golang-proxy
      type: File
      path: "/nexus-data/blobs/golang_proxy"
      softQuota:
        type: spaceRemainingQuota
        limit: "{{ blob_limit_golang_proxy }}"


nexus_repos_docker_hosted:
  - name: docker-hosted
    storage:
      blobStoreName: docker-hosted
      strictContentTypeValidation: true
    http_port: "{{ nexus_hosted_port }}"
    v1_enabled: true

nexus_repos_docker_proxy:
  - name: docker-proxy
    storage:
          blobStoreName: docker-proxy
          strictContentTypeValidation: true
    http_port: "{{ nexus_proxy_port }}"
    v1_enabled: true
    index_type: "HUB"
    remote_url: "https://registry-1.docker.io"
    use_nexus_certificates_to_access_index: false
    maximum_component_age: 1440
    maximum_metadata_age: 1440
    negative_cache_enabled: true
    negative_cache_ttl: 1440

nexus_repos_go_proxy:
  - name: go-proxy
    storage:
      blobStoreName: golang-proxy
      strictContentTypeValidation: true
    remote_url: 'https://proxy.golang.org/'


nexus_roles:
  - name: "nx-golang"
    id: "nx-golang"
    description: "Golang Role"
    privileges:
      - "nx-repository-view-go-go-proxy-read"
      - "nx-repository-view-go-go-proxy-browse"
      - "nx-search-read"
    roles: []


nexus_local_users:
  - username: "anonymous"
    first_name: "Anonymous"
    last_name: "User"
    email: "anonymous@example.org"
    roles:
      - nx-golang

nexus_anonymous_access: true