---
services:
  nexus:
    image: sonatype/nexus3:{{ nexus_version }}
    container_name: nexus
    restart: unless-stopped
    stop_grace_period: 120s
    ports:
      - "{{ nexus_http_port }}:{{ nexus_http_port }}"
      - "{{ nexus_proxy_port }}:{{ nexus_proxy_port }}"
      - "{{ nexus_hosted_port }}:{{ nexus_hosted_port }}"
      -  "{{ nexus_goproxy_port }}:{{ nexus_goproxy_port }}"
    volumes:
      - "{{ nexus_data_path }}:/nexus-data"